html {
    scroll-behavior: smooth;
}

.naitem {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    align-items: center;
}

.naitem:hover {
    text-decoration: underline rgb(255, 209, 2);
    text-decoration-thickness: 5px;
}

.nav2 {
    color: black;
    font-size: 1.2em;
    display: inline;
}

.scrollbar {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.showp {
    transition: 0.2s linear;
}

.showp:hover {
    transform: scale(0.99);
    opacity: 0.9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cardtxt {
    line-height: 0.8;
    font-size: smaller;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footp {
    line-height: 0.3;
    font-size: small;
}

/* search box css starts from here */

#sugglist {
    position: absolute;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    width: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: small;
    scrollbar-width: none;
}

#sugglist .list-group-item {
    padding: 5px;
    cursor: pointer;
    border: none;
}

#sugglist .list-group-item:hover {
    background-color: #f1f1f1;
}